.actionBtns {
    margin: 0 5px;
    margin-bottom: 5px;
}

#addbtn {
    margin-bottom: 15px;
}

.backdrop {
    background-color:rgba(0,0,0,0.6); 
    position:fixed; 
    top:0;   
    left:0;
    width:100%;
    height:100vh; 
}

.activeStatus {
    color: green;
}

.inactiveStatus {
    color: red;
}

.rowContainer {
    text-align: center;
    color: red;
}